{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm mt-5">
            <div class="card-body p-4">
                <h2 class="text-center mb-4">Iniciar Sesión</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>
                        <input type="{{ field.field.widget.input_type }}"
                               name="{{ field.name }}"
                               class="form-control"
                               id="{{ field.id_for_label }}">
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary w-100 py-2">Entrar</button>
                </form>
                <div class="text-center mt-3">
                    <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}